*.pyc
*.so*
.DS_Store
spotify-connect-web/lib/
__pycache__/
spotify_appkey.key
libspotify_embedded_shared.so
venv
credentials.json
credentials_smartRemote.py
spotify-connect-web.tar.gz
startconnect.sh
sftp-config.json
